@model SiGotvime.Data.Models.Tag

@{
    ViewBag.Title = "AddCategory";
}

<h3>Нова Категорија</h3>

<div style="margin-top:50px;">
    @using(Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        @Html.ValidationSummary(true)

        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
        <div class="input-control text span3">
            @Html.EditorFor(model => model.Name)
        </div>

        <label style="color:red;">@ViewBag.error</label>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Додади" class="btn btn-default" />
            </div>
        </div>
    }
</div>