@model SiGotvime.Data.Models.Ingredient

@{
    ViewBag.Title = "EditIngredient";
}

<h2>Нова Состојка</h2>

<div style="margin-top:50px;">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)
        @Html.HiddenFor(x=>x.ID)

        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
        <div class="input-control text span3">
            @Html.EditorFor(model => model.Name)
        </div>

        <label style="color:red;">@ViewBag.error</label>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Зачувај" class="btn btn-default" />
            </div>
        </div>
    }
</div>

