@model SiGotvime.Data.Models.BlogPost

@{
    ViewBag.Title = Model.Title+"- Статија";

}

@section Scripts{
    <script>
        ActivateNavigation("#blog");
    </script>
}

<div class="wrap clearfix">
    <!--breadcrumbs-->
    <nav class="breadcrumbs">
        <ul>
            <li><a href="@Url.Action("Index","Home")" title="Home">Дома</a></li>
            <li><a href="@Url.Action("Index","Blog")" title="Blog">Статии</a></li>
            <li>@Model.Title</li>
        </ul>
    </nav>
    <!--//breadcrumbs-->
    <!--row-->
    <div class="row">
        <header class="s-title wow fadeInLeft">
            <h2 class="ribbon large">@Model.Title</h2>
        </header>


        <!--content-->
        <section class="content three-fourth wow fadeInLeft">
            <!--blog entry-->
            <article class="post single">
                <div class="entry-meta">
                    <div class="date">
                        <span class="day">@Model.DateCreated.Day</span>
                        <span class="my">@Model.DateCreated.ToString("MMMM", System.Globalization.CultureInfo.InvariantCulture), @Model.DateCreated.Year</span>
                    </div>
                    <div class="avatar">
                        <a href="my_profile.html"><img src="@Model.User.ImageUrl" alt="" /><span>@Model.User.FirstName @Model.User.LastName</span></a>
                    </div>
                </div>
                <div class="container">
                    <div class="entry-featured"><a href="#"><img src="@Model.ImageUrl" style="width:100%" /></a></div>
                    <div class="entry-content">
                        @Html.Raw(Model.Content)
                    </div>
                </div>
            </article>
            <!--//blog entry-->
            <!--comments-->
            <div id="commentSection">
                @{Html.RenderPartial("_CommentSection", Model.Comments);}
            </div>
            <!--//comments-->
            <!--respond-->
            @if (User.Identity.IsAuthenticated)
            {
                <div class="comment-respond wow fadeInUp" id="respond">
                    <div class="container">
                        @using (Ajax.BeginForm("Comment", "Blog", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "commentSection", InsertionMode = InsertionMode.Replace, OnBegin = "BlockUIElement('#respond')", OnSuccess = "UnblockUIElement('#respond')" }))
                        {
                            @Html.AntiForgeryToken()
                            <h3>Коментирај:</h3>
                            <input type="text" hidden value="@Model.BlogPostID" name="BlogPostID" />

                            <div class="row">
                                <div class="one-fourth">
                                    <div class="avatar">
                                        <img src="@SiGotvime.Utilities.Env.UserImage()" />
                                    </div>
                                </div>
                                <div class="three-fourth">
                                    <textarea name="content" placeholder="Коментар..."></textarea>
                                </div>
                            </div>
                            <div class="f-row">
                                <div class="third bwrap">
                                    <input type="submit" value="Постави коментар" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
            <!--//respond-->
        </section>
        <!--//content-->
        <!--right sidebar-->
        <aside class="sidebar one-fourth wow fadeInRight">

            <a class="twitter-timeline" href="https://twitter.com/SiGotvime" data-widget-id="681599396665004033" height="450" data-lang="mk">Tweets by @@SiGotvime</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

            @Html.Action("Advertisments", "Home")
        </aside>
        <!--//right sidebar-->
    </div>
    <!--//row-->
</div>

