@model SiGotvime.Data.Models.Ingredient

@{
    ViewBag.Title = "Промени состојка";
}

<div class="wrap clearfix">
    <nav class="breadcrumbs">
        <ul>
            <li><a href="@Url.Action("Index","Home")" title="Home">Дома</a></li>
            <li>Промени состојка</li>
        </ul>
    </nav>

    <div class="row">
        <header class="s-title wow fadeInLeft">
            <h2 class="ribbon large">Промени состојка</h2>
        </header>
        <section class="content full-width wow fadeInUp">
            <div class="submit_recipe container">
               
                    @using (Html.BeginForm())
                    {

                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(x => x.ID)
                                                
                        <div class="f-row">
                            <div class="third">
                                <label>Име</label>
                                @Html.EditorFor(model => model.Name)
                            </div>
                        </div>                        

                        <label style="color:red;">@ViewBag.error</label>                        
                        <div class="f-row full">
                            <input type="submit" class="button" value="Зачувај" />
                        </div>
                    }
                </div>


        </section>
    </div>
</div>


