<div class="widget">
    <ul class="categories right">
        <li id="allRecipes"><a href="@Url.Action("Latest","Recipe")">Сите рецепти</a></li>
        <li data-recipeid="154"><a href="@Url.Action("Category", "Recipe", new { id = 154 })">Предјадења</a></li>
        <li data-recipeid="170"><a href="@Url.Action("Category", "Recipe", new { id = 170 })">Коктели</a></li>

        <li data-recipeid="155"><a href="@Url.Action("Category", "Recipe", new { id = 155 })">Десерти</a></li>
        <li data-recipeid="180"><a href="@Url.Action("Category", "Recipe", new { id = 180 })">Јајца</a></li>
        <li data-recipeid="175"><a href="@Url.Action("Category", "Recipe", new { id = 175 })">Македонска Традиционална</a></li>
        <li data-recipeid="162"><a href="@Url.Action("Category", "Recipe", new { id = 162 })">Појадок</a></li>
        <li data-recipeid="174"><a href="@Url.Action("Category", "Recipe", new { id = 174 })">Риба</a></li>
        <li data-recipeid="179"><a href="@Url.Action("Category", "Recipe", new { id = 179 })">Студентски</a></li>
        <li data-recipeid="156"><a href="@Url.Action("Category", "Recipe", new { id = 156 })">Главно Јадење</a></li>
        <li data-recipeid="165"><a href="@Url.Action("Category", "Recipe", new { id = 165 })">Чорби</a></li>
        <li data-recipeid="157"><a href="@Url.Action("Category", "Recipe", new { id = 157 })">Паста</a></li>
        <li data-recipeid="177"><a href="@Url.Action("Category", "Recipe", new { id = 177 })">Пица</a></li>
        <li data-recipeid="172"><a href="@Url.Action("Category", "Recipe", new { id = 172 })">Телешко Месо</a></li>
        <li data-recipeid="167"><a href="@Url.Action("Category", "Recipe", new { id = 167 })">Пилешко Месо</a></li>
        <li data-recipeid="176"><a href="@Url.Action("Category", "Recipe", new { id = 176 })">Мезиња</a></li>
        <li data-recipeid="168"><a href="@Url.Action("Category", "Recipe", new { id = 168 })">Салати</a></li>
        <li data-recipeid="164"><a href="@Url.Action("Category", "Recipe", new { id = 164 })">Супи</a></li>
        <li data-recipeid="163"><a href="@Url.Action("Category", "Recipe", new { id = 163 })">Сосови</a></li>
    </ul>
</div>